/* =========
Your custom styles go here
 ========= */
div#services{
	margin-left:5px;
	margin-right:5px;
	text-align:center;
	color:rgb(256,256,256);
	font-size:20px;
	background-color:#fa9c34;
}

div#mtn-to-swazi{
	border:1px solid #fa9c34;
	margin-left:5px;
	margin-top:-10px;
	margin-right:5px;
	color:  #fa9c34;
	text-align:center;
	font-size:20px;
	
}












